<div class="container">
  <div class="row">
    <form name="userForm" class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label">First name:</label>
        <div class="col-lg-8">
          <input class="form-control" ng-model="user.first_name" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label">Last name:</label>
        <div class="col-lg-8">
          <input class="form-control" ng-model="user.last_name" type="text">
        </div>
      </div>
    </form>
  </div>
</div>
