<div class="container">
  <div class="row">
    <!-- left column -->
    <div class="col-md-3">
      <div class="text-center">
        <img src="images/user.png" class="avatar img-circle" alt="avatar">
        <!--
        <h6>Upload a different photo...</h6>

        <input class="form-control" type="file">
        -->
      </div>
      <div class="text-center">
        <h4>{{ user.email }}</h4>
      </div>
      <div class="text-center">
        <p>
        <button ng-hide="newUser" ng-click="redirect('/quarantine/'+user.email)" class="btn btn-primary" type="button">
          Quarantine <span class="badge">4</span>
        </button>
        </p>
      </div>
      <p>form pristine: {{userForm.$pristine}}</p>
      <p>form dirty   : {{userForm.$dirty}}</p>
      <p>etag: {{user.etag}}</p>
    </div>

    <!-- edit form column -->
    <div class="col-md-9">
      <h3>Personal info</h3>

      <form name="userForm" class="form-horizontal" role="form">
        <div ng-show="newUser" class="form-group">
          <label class="col-lg-3 control-label">Email:</label>
          <div class="col-lg-4">
            <input placeholder="user id" class="form-control" ng-change="userChanged()" ng-model="userID" ng-required type="text">
          </div>
          <div class="col-lg-4">
            <select ng-change="userChanged()" name="domainName" ng-model="userDomain">
              <option value="">select domain</option>
              <option ng-repeat="domain in domains" value="{{domain.name}}">{{domain.name}}</option>
            </select>
          </div>
        </div>
        <div ng-show="newUser" class="form-group">
          <label class="col-lg-3 control-label">Password:</label>
          <div class="col-lg-4">
            <input data-ng-model='user.password' type="password" name='password' placeholder='password' required>
            <div ng-show="userForm.password.$error.required">Field required</div>
          </div>
          <div class="col-lg-4">
            <input ng-model='user.password_verify' type="password" name='confirm_password' placeholder='confirm password' required data-password-verify="user.password">
            <div ng-show="userForm.confirm_password.$error.required">
              Field required!</div>
            <div ng-show="userForm.confirm_password.$error.passwordVerify">
              Fields are not equal!</div>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">First name:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="user.first_name" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Last name:</label>
          <div class="col-lg-8">
            <input class="form-control" ng-model="user.last_name" type="text">
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-3 control-label">Enabled:</label>
          <div class="col-lg-8">
            <button ng-show="user.enabled" ng-click="user.enabled=false; userForm.$setDirty()" ng-disabled="!currentUser.is_admin" class="btn btn-success" type="button"> Enabled</button>
            <button ng-hide="user.enabled" ng-click="user.enabled=true; userForm.$setDirty()" ng-disabled="!currentUser.is_admin" class="btn btn-danger" type="button"> Disabled</button>
          </div>
        </div>
      </form>
    </div>
  </div> <!-- row -->
  <div class="row">
    <div>Administration:</div>
    <label class="col-md-3 control-label"></label>
    <div class="col-md-8>">
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"></label>
      <div class="col-md-8">
        <input ng-hide="userForm.$pristine || newUser" ng-click="save()" class="btn btn-success" value="Save Changes" type="button" />
        <input ng-show="userForm.$dirty && newUser" ng-click="save()" class="btn btn-success" value="Add user" type="button" />
        <input ng-show="userForm.$dirty" ng-click="reset()" class="btn btn-primary" value="Reset" type="button">
      </div>
    </div>
  </div>
</div> <!-- row -->
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th class="col-md-8">Domain</th>
        <th class="col-md-3">Access rights</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-show="user.super_admin">
    	<th>Super admin</th>
    	<td><span class="label label-default" ng-repeat="access in currentUser.super_admin">{{access}}</label></td> 	
    </tr>
    <tr ng-repeat="(domain, access) in user.admin">
    	<td >{{domain}}</td>
        <td>
          <span ng-repeat="ac in access" class="tag label label-success">
            <span>{{ ac }}</span>
              <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a> 
            </span>
        </td>
    </tr>
    </tbody>
  </table>
</div>

